.body {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1170px;
  min-width: 320px;
}

.header {
  padding-top: 25px;
  margin-bottom: 23px;
  padding-left: 70px;
  padding-right: 70px;
}

.main {
  margin-bottom: 77px;
  padding-left: 70px;
  padding-right: 70px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: inherit;
}

.menu-left {
  display: flex;
  flex-basis: 42.1%;
  justify-content: space-between;
}

.menu-right {
  display: flex;
  flex-basis: 39.2%;
  justify-content: space-between;
  align-items: inherit;
}

.menu__logo {
  padding-top: 8px;
}

.menu-mobile {
  display: none;
}

.menu-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 77%;
}

.menu-nav__link {
  font-size: 11.5px;
  line-height: 11px;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.menu__link {
  font-size: 11.5px;
  line-height: 11px;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.menu-form {
  position: relative;
  padding-top: 7px;
}

.menu-form__search {
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #000;
  width: 178px;
}

.menu-form__button {
  visibility: hidden;
  position: absolute;
  left: 86%;
  top: 20%;
}

.menu-form__button::before {
  visibility: visible;
  content: url(images/search.png);
}

.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 13%;
}

.cart__count {
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: black;
  color: white;
}

.shop {
  background: url("images/ad.png") no-repeat;
  height: 281px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shop__title {
  margin: 0;
  color: white;
  text-transform: uppercase;
  width: 20%;
  font-size: 30px;
  line-height: 29px;
  padding-left: 60px;
  padding-top: 11px;
}

.shop__link {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 11px;
  padding-top: 17px;
  padding-left: 60px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.menu-form__search:hover {
  outline: none;
  border-width: 0 0 1px;
}

.collection {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 68px;
}

.collection__title {
  text-align: center;
  margin: 0;
  padding-top: 49px;
  font-size: 22px;
}

.products-list {
  display: flex;
  padding: 0;
}

.products {
  width: 1006px;
  display: flex;
  height: 236px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.product:nth-child(4) {
  margin-right: 8px;
}


.product {
  display: flex;
  flex-flow: column;
  position: relative;
  padding-top: 17px;
  width: 198px;
}

.product__img {
  width: 188px;
  align-self: flex-end;
}

.product::after {
  content: "";
  width: 0;
  height: 100.18px;
  border: 1px solid #D3D3D3;
  position: absolute;
  right: 226px;
  top: 56px;
}

.product:nth-child(1):after {
  display: none;
}

.product__name {
  font-size: 12px;
  padding-top: 27px;
}

.product__cost {
  font-size: 14px;
  padding-top: 5px;
}

.first-group,
.second-group,
.third-group,
.fourth-group {
  position: relative;
}

.product-btn__color{
  display: none;
}

.fake__btn {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  bottom: 3px;
}

.first-group__grey {
  background-color: #C4C4C4;
  left: 152px;
}

.first-group__black {
  background-color: #0E1211;
  left: 168px;
}

.first-group__red {
  background-color: #B62E3C;
  left: 185px;
}

.first-group__orange {
  background-color: #FDB431;
  left: 199px;
}

.second-group__grey {
  background-color: #C4C4C4;
  left: 152px;
}

.second-group__camel {
  background-color: #E29D69;
  left: 168px;
}

.second-group__red {
  background-color: #B62E3C;
  left: 185px;
}

.second-group__orange {
  background-color: #FDB431;
  left: 199px;
}

.third-group__grey {
  background-color: #C4C4C4;
  left: 152px;
}

.third-group__vinous {
  background-color: #762E31;
  left: 168px;
}

.third-group__navy {
  background-color: #41479B;
  left: 185px;
}

.third-group__orange {
  background-color: #FDB431;
  left: 199px;
}

.fourth-group__grey {
  background-color: #C4C4C4;
  left: 152px;
}

.fourth-group__blue {
  background-color: #257DA9;
  left: 168px;
}

.fourth-group__red {
  background-color: #B62E3C;
  left: 185px;
}

.fourth-group__orange {
  background-color: #FDB431;
  left: 199px;
}

.video {
  background-color: black;
  color: white;
  display: flex;
  height: 494px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 76px;
}

.video-wrap {
  position: relative;
  width: 65.6%;
  display: flex;
  justify-content: flex-end
}

.video-wrap__button {
  position: absolute;
  border: none;
  background: none;
  left: 47.4%;
  top: 42%;
}

.video-text {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: 30.2%;
  height: 190px;
  justify-content: space-between;
}

.video-text__title {
  text-transform: uppercase;
  margin: 0;
  font-size: 22px;
  width: 244px;
  line-height: 28px;
}

.video-text__content{
  margin: 0;
  width: 266px;
  font-size: 14px;
  line-height: 17px;
}

.video-text__link {
  color: white;
  font-size: 12px;
  line-height: 17px
}

.video-text__link svg {
  padding-left: 9px;
}

.news {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 75px;
}

.news__title {
  margin: 0;
  font-size: 22px;
  margin-bottom: 41px;
}

.stories-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
  width: 100%;
}

.storie {
  font-size: 14px;
}

.storie__title {
  font-size: 18px;
}

.storie__text {
  width: 310px;
}

.storie__img {
  margin-bottom: 25px;
}

.storie__title {
  margin: 0;
  margin-bottom: 8px;
}

.storie__text {
  margin: 0;
  line-height: 17px;
  margin-bottom: 15px
}

.storie__link {
  font-size: 12px;
}

.storie__link svg {
  padding-left: 8px;
}

.storie__date {
  padding-left: 120px;
  font-size: 12px;
  opacity: 0.3;
}

.photo {

}

.photo__title {
  margin: 0;
  text-align: right;
  text-transform: uppercase;
  font-size: 18px;
  opacity: 0.3;
  margin-bottom: 10px;
}

.photo-tape {
  display: flex;
}

.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.group__link_title {
  font-size: 12px;
  color: white;
}

.group__link{
  color: white;
  font-size: 12px;
  padding-top: 6px;
}

.group {
  display: flex;
  flex-flow: column;
  padding-top: 69px;
  padding-left: 6px;
}

.group:nth-child(2) {
  padding-left: 47px;
}

.group:nth-child(3) {
  padding-right: 9px;
}

.group:nth-child(4) {
  padding-top: 62px;
}

.regButton {
  margin-top: 13px;
  width: 135px;
  height: 20px;
  border: 1px solid white;
  font-size: 10px;
  text-align: center;
}

.block-groups {
  display: flex;
  margin: 0;
  padding: 0;
  width: 784px;
  justify-content: space-between;
}

.group-social {
  margin-top: 35px;
  display: flex;
  width: 135px;
  justify-content: space-between;
}

.group-social__link {
}

.footer-end {
  display: flex;
  width: 57.2%;
  justify-content: space-between;
  margin-left: 465px;
  margin-top: 41px;
  padding-bottom: 20px;
}

.footer-end__text {
  font-size: 12px;
}

@media (max-width: 1024px) {
  .body {
    padding-left: 47px;
    padding-right: 47px;
  }

  .header {
    margin-bottom: 37px;
  }

  .menu-left {
    flex-basis: 45.7%;
  }

  .menu-nav {
    width: 79%;
  }

  .menu__logo {
    padding-top: 4px;
  }

  .menu__logo img {
    width: 60px;
    height: 60px;
  }

  .menu__form {
    width: 161px;
  }

  .menu__languages {
    width: 17px;
  }

  .menu-form__search {
    width: 161px;
  }

  .menu__link {
    padding-left: 3px;
  }

  .cart {
    width: 15%;
  }

  .shop {
    height: 254px;
    background-size: 100%;
  }

  .shop__title {
    padding-left: 54px;
    padding-top: 5px;
    width: 25%;
  }

  .shop__link {
    padding-top: 11px;
    padding-left: 54px;
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


@media (max-width: 870px) {
  .menu-right {
    flex-basis: 45.2%;
  }

  .cart {
    width: 17%;
  }

  .shop__title {
    padding-top: 0;
    width: 30%;
  }

  .shop__link {
    padding-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .body {
    padding: 0;
  }

  .header {
    margin-bottom: 34px;
    padding-top: 42px;
  }

  .menu-mobile {
    display: flex;
    width: inherit;
    justify-content: space-between;
  }

  .menu-mobile__logo {
    padding-left: 44px;
  }

  .menu-mobile__burger,
  .menu-mobile__burger::after {
    width: 61px;
    height: 9px;
    background-color: #222;
    margin-right: 44px;
    margin-top: 6px;
  }

  .menu-mobile__burger::after {
    content: '';
    display: block;
    transform: translateY(5px);
    margin-top: 11px;
  }

  .menu-left {
    display: none;
  }

  .menu-right {
    display: none;
  }

  .shop {
    height: 416px;
    background-size: 200%;
    background-position: 17%;
  }

  .shop__title {
    padding-left: 45px;
    font-size: 50px;
    width: 50%;
    line-height: 48px;
    padding-top: 32px;
  }

  .shop__link {
    padding-top: 53px;
    padding-left: 45px;
    width: 200px;
    font-size: 20px;
  }

  .shop__link svg {
    height: 14px;
    width: 36%;
  }
}


@media (max-width: 615px) {
  .header {
    margin-bottom: 0;
  }

  .shop__title {
    font-size: 40px;
  }

  .shop__link {
    padding-top: 35px;
  }
}

@media (max-width: 465px) {
  .shop {
    height: 320px;
  }

  .shop__title {
    font-size: 30px;
    line-height: 30px;
  }

  .shop__link {
    padding-top: 30px;
  }
}

@media (max-width: 375px) {
  .header {
    padding-top: 24px;
    margin-bottom: 22px;
  }

  .video-wrap__player {
    display: none;
  }

  .menu-mobile__burger,
  .menu-mobile__burger::after {
    width: 41px;
    height: 5px;
    margin-right: 47px;
    margin-top: 5px;
  }

  .menu-mobile__logo {
    padding-left: 49px;
  }

  .menu-mobile__logo img {
    width: 103px;
  }

  .shop {
    height: 191px;
    background-size: 186%;
    background-position: 19%;
  }

  .shop__title {
    padding-left: 47px;
    font-size: 20px;
    width: 42%;
    line-height: 19px;
    padding-top: 28px;
  }

  .shop__link {
    padding-top: 20px;
    padding-left: 48px;
    width: 125px;
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .header {
    margin-bottom: 22px;
  }

  .menu-mobile__logo {
    padding-left: 21px;
  }

  .menu-mobile__burger,
  .menu-mobile__burger::after {
    margin-right: 20px;
  }

  .shop {
    background-size: 216%;
    background-position: 23%;
  }

  .shop__title,
  .shop__link {
    padding-left: 20px;
  }
}
